

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-box {
    margin: 0;
    background-color: black;
    border: blue 10px solid;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    /* flex-wrap: wrap; */
    align-items: center;
}


.child-box1 {
    background-color: greenyellow;
    border: red 5px solid;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 2rem;
    /* centering the text in side the child boxes */
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-box2 {
    background-color: green;
    border: orange 5px solid;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}